@* Filename: Floorsets.razor
Part of Project: PLOT

File Purpose:
This is the floorsets page component to showe the floorsets for a specific store 

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Andrew Fulton (3/13/2025)  *@

@page "/floorsets/{storeId}/{storeLocation}"
@inject IJSRuntime JS
@inject NavigationManager Navigation

@* Top portion of the page (Showing store, location, and image for the current floorset) *@
<div class="container">
    <div class="left">

        <h1 font-size="3em">Floorsets for @storeId Store</h1>
        <h3>@storeLocation</h3>

    </div>
    <div class="right">

        <img height="auto" width="500px" src="/img/FloorsetPhotoExample.png">

    </div>
</div>

@* Div to hold the floorset cards *@
<div id="floorsetCards" class="horizontal-items">

    @* A bunch of hard coded Cards *@
    <Card Id="Nov24Floorset" Class="Card" CardText="Nov24 Floorset" CardImage="/img/FloorsetPhotoExample.png">

        <Dropdown Class="Test Dropdown" Id="Nov24Dropdown"
            DropdownText="@(new List<string> { "Edit", "Copy", "Delete" })"
            DropdownLinks="@(new List<string> { "http://localhost:8080/floorset-editor", "http://localhost:8080/floorset-editor", "#deleteFloorsetModal" })"
            LabelText="Floorset"
            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-solid fa-copy", "fa-solid fa-trash-can" })" />

    </Card>

    <Card Id="Aug24Floorset" Class="Card" CardText="Aug24 Floorset" CardImage="/img/FloorsetPhotoExample.png">

        <Dropdown Class="Test Dropdown" Id="Aug24Dropdown"
            DropdownText="@(new List<string> { "Edit", "Copy", "Delete" })"
            DropdownLinks="@(new List<string> { "http://localhost:8080/floorset-editor", "http://localhost:8080/floorset-editor", "#deleteFloorsetModal" })"
            LabelText="Floorset"
            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-solid fa-copy", "fa-solid fa-trash-can" })" />

    </Card>


    <Card Id="Apr23Floorset" Class="Card" CardText="Apr23 Floorset" CardImage="/img/FloorsetPhotoExample.png">

        <Dropdown Class="Test Dropdown" Id="Apr23Dropdown"
            DropdownText="@(new List<string> { "Edit", "Copy", "Delete" })"
            DropdownLinks="@(new List<string> { "http://localhost:8080/floorset-editor", "http://localhost:8080/floorset-editor", "#deleteFloorsetModal" })"
            LabelText="Floorset"
            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-solid fa-copy", "fa-solid fa-trash-can" })" />

    </Card>


    <Card Id="Jan25Floorset" Class="Card" CardText="Jan25 Floorset" CardImage="/img/FloorsetPhotoExample.png">

        <Dropdown Class="Test Dropdown" Id="Jan25Dropdown"
            DropdownText="@(new List<string> { "Edit", "Copy", "Delete" })"
            DropdownLinks="@(new List<string> { "http://localhost:8080/floorset-editor", "http://localhost:8080/floorset-editor", "#deleteFloorsetModal" })"
            LabelText="Floorset"
            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-solid fa-copy", "fa-solid fa-trash-can" })" />

    </Card>


    <Card Id="Feb24Floorset" Class="Card" CardText="Feb24 Floorset" CardImage="/img/FloorsetPhotoExample.png">

        <Dropdown Class="Test Dropdown" Id="Feb24Dropdown"
            DropdownText="@(new List<string> { "Edit", "Copy", "Delete" })"
            DropdownLinks="@(new List<string> { "http://localhost:8080/floorset-editor", "http://localhost:8080/floorset-editor", "#deleteFloorsetModal" })"
            LabelText="Floorset"
            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-solid fa-copy", "fa-solid fa-trash-can" })" />

    </Card>


    <Card Id="Apr24Floorset" Class="Card" CardText="Apr24 Floorset" CardImage="/img/FloorsetPhotoExample.png">

        <Dropdown Class="Test Dropdown" Id="Apr24Dropdown"
            DropdownText="@(new List<string> { "Edit", "Copy", "Delete" })"
            DropdownLinks="@(new List<string> { "http://localhost:8080/floorset-editor", "http://localhost:8080/floorset-editor", "#deleteFloorsetModal" })"
            LabelText="Floorset"
            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-solid fa-copy", "fa-solid fa-trash-can" })" />

    </Card>


    <Card Id="Jan24Floorset" Class="Card" CardText="Jan24 Floorset" CardImage="/img/FloorsetPhotoExample.png">

        <Dropdown Class="Test Dropdown" Id="Jan24Dropdown"
            DropdownText="@(new List<string> { "Edit", "Copy", "Delete" })"
            DropdownLinks="@(new List<string> { "http://localhost:8080/floorset-editor", "http://localhost:8080/floorset-editor", "#deleteFloorsetModal" })"
            LabelText="Floorset"
            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-solid fa-copy", "fa-solid fa-trash-can" })" />

    </Card>


    <Card Id="Oct24Floorset" Class="Card" CardText="Oct24 Floorset" CardImage="/img/FloorsetPhotoExample.png">

        <Dropdown Class="Test Dropdown" Id="Oct24Dropdown"
            DropdownText="@(new List<string> { "Edit", "Copy", "Delete" })"
            DropdownLinks="@(new List<string> { "http://localhost:8080/floorset-editor", "http://localhost:8080/floorset-editor", "#deleteFloorsetModal" })"
            LabelText="Floorset"
            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-solid fa-copy", "fa-solid fa-trash-can" })" />

    </Card>


    <Card Id="Dec24Floorset" Class="Card" CardText="Dec24 Floorset" CardImage="/img/FloorsetPhotoExample.png">

        <Dropdown Class="Test Dropdown" Id="Dec24Dropdown"
            DropdownText="@(new List<string> { "Edit", "Copy", "Delete" })"
            DropdownLinks="@(new List<string> { "http://localhost:8080/floorset-editor", "http://localhost:8080/floorset-editor", "#deleteFloorsetModal" })"
            LabelText="Floorset"
            DropdownIcons="@(new List<string> { "fa-solid fa-pen-to-square", "fa-solid fa-copy", "fa-solid fa-trash-can" })" />

    </Card>

</div>






@* + Add Floorset button fixed to the bottom right of the screen *@
<button class="fixed-bottom-right">
    @* add store button that brings up the Add Store modal *@
    <Button Class="Test Button" TextAlignment="center" Variant="primary" OnClickFunction="goToFloorsetEditorPage">+ Add
        Floorset</Button>
</button>







@* HARD CODED MODAL: Delete Floorset modal *@
<Modal Title="Confirm Deletion" Id="deleteFloorsetModal" Class="standard">

    <BodyContent>
        <h5>Are you SURE you want to delete this Floorset?</h5>
        <TextInput Id="deleteModalTextInput" Label="If so, type DELETE below" />
    </BodyContent>

    <FooterContent>
        <Button Class="Test Button" TextAlignment="center" Variant="primary" OnClickFunction="deleteFloorset">Yes,
            Delete</Button>
    </FooterContent>

</Modal>





@* Script to show the whichever modal ID is passed into it *@
<script>
    function showModal(modalId) {
        var modal = new bootstrap.Modal(document.getElementById(modalId));
        modal.show();
    }
</script>

@* script to add a floorset image to the floorsets when hitting copy *@
<script>
    function addCopiedFloorsetText() {
        // Get the target div
        const floorsetCardsDiv = document.getElementById("floorsetCards");

        // Create a new <p> element
        const newImage = document.createElement("img");

        // Set the text content
        newImage.src = "/img/FloorsetPhotoExample.png";
        newImage.width = 300;
        newImage.height = 250;

        // Append the new <p> to the div
        floorsetCardsDiv.appendChild(newImage);
    }
</script>






@code {
    [Parameter]
    public string? storeId { get; set; }

    [Parameter]
    public string? storeLocation { get; set; }

    //test function
    private void doSomething()
    {
        Console.WriteLine("THIS IS DOING SOMETHING");
    }
    //function for deleting a store
    private void deleteFloorset()
    {
        Console.WriteLine("DELETE THIS FLOORSET");
    }

    //+ Add floorset modal (NOT IN USE)
    private async Task ShowAddFloorsetModal()
    {
        await JS.InvokeVoidAsync("showModal", "addFloorsetModal");
    }

    //general function to take us to the floorsets editor page for a floorset store
    private void goToFloorsetEditorPage()
    {
        Navigation.NavigateTo("/floorset-editor");
    }

    //Add a copied floorset
    private async Task copyFloorset()
    {
        await JS.InvokeVoidAsync("addCopiedFloorsetText");
    }
}