@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<TextInput Id="textinput" Class="test" Label="This is a test input with label to the side" Value="@name" ValueChanged="@((value) => name = value)" ErrorMessage="@nameError" />

<TextInput Id="textinput" Class="test" Label="This is a test input with label on the top" LabelOnTop="true" Value="@name" ValueChanged="@((value) => name = value)" ErrorMessage="@nameError" />

<TextInput Id="textinput" Class="test" Label="" Value="@name" ValueChanged="@((value) => name = value)" ErrorMessage="@nameError" />

@code {
    private string name;
    private string nameError;
}