<!--
Program Purpose:
User dashboard for managing, adding, editing, and deleting users.

Note: Some code was present before. But no author was given.
Author (Updated File): Andrew Miller (3/14/2025)
-->

@page "/users"

<div class="container mt-4">

    <!-- Users Table -->
    <table class="table border border-light">
        <thead>
            <tr>
                <td class="border border-light border-2">Employee Name</td>
                <td class="border border-light border-2">Employee Number</td>
                <td class="border border-light border-2">Role</td>
            </tr>
        </thead>
        <tbody>
            <!-- Hardcoded rows for the demo --- 
            Replace with dynamic rows for finished product -->
            <tr>
                <td class="border border-light border-2">Clayton Cook</td>
                <td class="border border-light border-2">#1234567890</td>
                <td class="border border-light border-2">
                    <div>
                        <div>Owner</div>
                        <div>
                            <!-- ToDo: Fix dropdown bug, add dropdowns to other rows -->
                            <Dropdown DropdownText="@(new List<string> { "Youtube", "Google", "SVSU" })"
    DropdownLinks="@(new List<string> { "https://www.youtube.com/", "https://www.google.com/", "https://www.svsu.edu/" })"
    LabelText="Test Dropdown"
    DropdownIcons="@(new List<string> { "fa-solid fa-copy", "fa-solid fa-trash-can", "fa-solid fa-layer-group" })" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border border-light border-2">John Doe</td>
                <td class="border border-light border-2">#1234567890</td>
                <td class="border border-light border-2">Manager</td>
            </tr>
            <tr>
                <td class="border border-light border-2">Jane Smith</td>
                <td class="border border-light border-2">#1234567890</td>
                <td class="border border-light border-2">Employee</td>
            </tr>
        </tbody>
    </table>

    <!--Add User Button -->
    <button class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#standardModal">
        + Add User
    </button>

    <!-- Add User Modal -->
<Modal Title="Add User" Id="addUserModal" Variant="success" Icon="fa-solid fa-check" Class="standard modal-dialog">
    <BodyContent>
        <h1>Create User</h1>
        <p>Add a new user to be added to the system.</p>
        <TextInput Id="FirstName" Label="First Name" Placeholder="First Name" Value="@firstname"/>
        <TextInput Id="LastName" Label="LastName" Placeholder="Last Name" Value="@lastname"/>
        <TextInput Id="Email" Label="Email" Placeholder="Email" Value="@email" />
        
        <!-- Todo: Add dropdowns -->
        <Dropdown></Dropdown>

        <img src="/img/platos_closet_logo.png">
    </BodyContent>

    <!-- To do: Footer Buttons -->
    <FooterContent>
    </FooterContent>
</Modal>

    <!-- TODO: Edit User Modal -->

    <!-- Confirm Deletion Modal -->
<Modal Title="Confirm Deletion" Id="confirmDeleteModal" Variant="success" Icon="fa-solid fa-check" Class="standard modal-dialog">
    <BodyContent>
        <h1>Are you SURE you want to delete this user?</h1>
        <TextInput Id="deleteTextInput" Label="If so, type DELETE here" Placeholder="Type DELETE here" Value="@delete"/>

    </BodyContent>

    <!-- To do: Footer Buttons -->
    <FooterContent>

    </FooterContent>

</Modal>


</div>
