<!-- Filename: TextInput.razor
Part of Project:-- PLOT
File Purpose:
A Text Input component that can be re-used throughout the application

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Luke Wollenweber (3/19/2025)-->
@inject IJSRuntime JSRuntime

<script>
    //this function accepts an element as a parameters and is called anytime the value changes in the textinput
    function handleValueChanged(element)
    { 
        //checks whether the value is less than 1 in length
        if (element.value.trim().length < 1)
        {
            //sets color to red
            element.style.color = 'red';
            element.style.borderColor = 'red';
        }
        else {
            //sets color to default 
            element.style.color = '';
            element.style.borderColor= '';
        }
    }
</script>

<div class="text-input-container @(LabelOnTop == true ? "label-top" : "label-left")">
    <label for="@Id">@Label</label>
    <input id="@Id" type="text" value="@Value" oninput="handleValueChanged(@Id)" placeholder="@Placeholder" class="TextInput @Class" />
</div>

@code {
    //these are all of the parameters for the component
    [Parameter] public string? Label { get; set; } = "Enter text";
    [Parameter] public string? Placeholder { get; set; } = "Type here...";
    [Parameter] public string? Value { get; set; } = "";
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public bool? LabelOnTop { get; set; } = true;
}