@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public string Class { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public string LabelPosition { get; set; }
    [Parameter] public string Placeholder { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public bool IsValid { get; set; } = true;

    private string InputClass => IsValid ? Class : $"{Class} is-invalid";
}
<div class="form-group">
    @if (LabelPosition?.ToLower() == "top")
    {
        <label for="@Id">@Label</label>
    }

    <input type="text" id="@Id" class="TextInput @InputClass" placeholder="@Placeholder" value="@Value" @bind="Value" />

    @if (LabelPosition?.ToLower() == "left")
    {
        <label for="@Id" class="input-label-left">@Label</label>
    }

    @if (!IsValid)
    {
        <div class="invalid-feedback">
            This is a required field.
        </div>
    }
</div>
