@inject IJSRuntime JS

<div class="inner-container add-fixture-panel">
    <h3 class="header pt-3" @onclick="ToggleAddFixture">
        <i class="fas fa-couch"></i> Add Fixture
    </h3>
    <hr style="opacity:1">

    <!-- Search Bar -->
    <div class="p-3 mb-2 border-bottom">
        <div class="d-flex align-items-center m-0">
            <div class="w-100 search-text">
                <InputText class="form-control p-2 " id="search" type="search" placeholder="Search"
                    @bind-value="FixtureSearch" />
            </div>
            <Button class="filter-btn mb-2" Icon="fa-solid fa-filter" OnClickFunction="FilterBtn" />
        </div>
        <div class="align-items-center mt-3 d-flex">
            <Button class="btn add-fixture btn-lg w-100 p-0" Variant="primary" OnClickFunction="OnFixtureAddClick">
                <i class="fa-solid fa-plus" style="margin-right: .5rem;"></i>
                Add Fixture
            </Button>
        </div>
    </div>


    @* Fixture Area *@
    <div class="fixture-area p-3 mt-3 d-flex gap-4 mb-2">
        @* Create fixture tile for each fixture in dictionary *@
        @foreach (Fixture currFixture in Fixture.fixtures.Values)
        {
            <div class="fixture d-flex align-items-center gap-3 grab-cursor" data-value="@currFixture.Name" draggable="true"
                data-width="@currFixture.Width" data-height="@currFixture.Length" ondragstart="createDraggable(event)">
                <img class="fixture-img disable-select grab-cursor" src="@currFixture.FixtureImg" alt="" draggable="false">
                <p class="fixture-text m-0 disable-select text-truncate">@currFixture.Name</p>
                <Dropdown class="fixture-options ms-auto disable-select" id="@(" fixture-options" + currFixture.Name)"
                    LabelText="Fixture">
                    <DropdownLink href=@("#editFixture-" + currFixture.Name.Replace(" ", ""))
                        @onclick="() => OnEditClick(currFixture)" Icon="fa-regular fa-pen-to-square">
                        Edit
                    </DropdownLink>
                    <DropdownLink href=@("#deleteFixture-" + currFixture.Name.Replace(" ", ""))
                        @onclick="() => OnDeleteClick(currFixture)" Icon="fa-regular fa-trash-can">
                        Delete
                    </DropdownLink>
                </Dropdown>
            </div>
        }
    </div>
</div>

@code {
    private string? FixtureSearch;

    [SupplyParameterFromForm]
    private Data.Models.Fixtures.CreateFixtureModel? CreateFixtureModel { get; set; }

    /* Danielle Smith - 3/24/2025
    added back add fixture stuff & also made it so expansions work properly with it */
    [Parameter] public EventCallback ToggleAddFixture { get; set; }

    [Parameter] public EventCallback OnFixtureClicked { get; set; }

    /*
    The FilterBtn function calls a JS function to flip the order of the fixture tiles.
    */
    private async Task FilterBtn()
    {
        await JS.InvokeVoidAsync("flipOrder");
    }

    /*
    The OnFixtureAddClick function calls a JS function to toggle the add fixture modal.
    */
    private async Task OnFixtureAddClick()
    {
        await JS.InvokeVoidAsync("toggleModal", "addFixture", true);
    }

    /*
    The OnEditClick function is called when the user clicks the edit button on a fixture.
    */
    private async Task OnEditClick(Fixture currFixture)
    {

        await Task.Run(() => Console.WriteLine(currFixture.Name));
        @* Fixture.selectedFixture = currFixture;

        Fixture.editedFixtureInfo = new Fixture(
        Fixture.selectedFixture.Name,
        Fixture.selectedFixture.Length,
        Fixture.selectedFixture.Width,
        Fixture.selectedFixture.HangerStack,
        Fixture.selectedFixture.FixtureImg
        );

        await OnFixtureClicked.InvokeAsync();
        await JS.InvokeVoidAsync("toggleModal", "editFixture", true);
        await JS.InvokeVoidAsync("SetBackgroundImage", "EditImageInput", Fixture.selectedFixture.FixtureImg); *@


    }

    /*
    The OnDeleteClick function is called when the user clicks the delete button on a fixture.
    */
    private async Task OnDeleteClick(Fixture currFixture)
    {
        @* Fixture.deletingFixture = currFixture; *@
        await OnFixtureClicked.InvokeAsync();
        await JS.InvokeVoidAsync("toggleModal", "deleteFixture", true);
    }

}