<!-- Filename: PlotButton.razor
Part of Project:-- PLOT
File Purpose:
Create a component to display a button and its various 
variants

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author: Josh Rodack (2/10/2025)-->


<div class="Button @Class" id="@Id">
    @if(TextAlignment.Equals("right"))
    {
        alignment = "text-start";
    }
    else if(TextAlignment.Equals("center"))
    {
        alignment = "text-center";
    }   
    else
    {
        alignment = "text-end";
    }
    @if(IsDisabled)
    {
        disabledClass = "disabled-btn";
        Console.WriteLine("Hello");
    }
    
    <button @onclick="OnClickMethod" type="button" class="btn btn-@Variant @alignment @disabledClass w-100" disabled=@IsDisabled>
        
        <span class="icon"><i class="@Icon"></i></span><span class="btn-element">@ChildContent</span>
        
    </button>
    <p>@message</p>
</div>


@code {
    // all of these are parameters to set up the modal dynamically
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public required string Variant {get; set;}

    [Parameter]
    public string? Icon {get; set;}

    [Parameter]
    public bool IsDisabled {get; set;}

    [Parameter]
    public string? TextAlignment {get;set;}

    [Parameter]
    public required RenderFragment ChildContent{get;set;}

    [Parameter]
    public Action OnClickFunction {get; set;}
    public string alignment;
    public string disabledClass = "";
    public string message = "Button not working";
    

    private void OnClickMethod() => message = "button working";
    /*
    {
        message = "button working";
        //OnClickFunction?.Invoke();
        
    }
    */
    


}