@*
File Purpose:
User dashboard for managing, adding, editing, and deleting users.
Employee Name, Employee ID, And Role visible on dashboard.
Editing allows changes to name, role, and stores the user
can access.

Note:
Database is not hooked up yet, so a lot of functionality here
will be replaced with functionality that gets information from
the database.

Program Purpose:
The purpose of PLOT is to allow users to easily create, manage, 
and allocate floorsets for Platos Closet. 

Author (Developed from skeleton): Andrew Miller (3/14/2025)
Note: A small amount of skeleton code was present before. 
No author was given.

Andrew Kenendy (4/17/2025)
Added a loader popup when a user is added.

Andrew Miller (4/22/2025) - Store access - Loader placed into modal

*/

*@

@page "/user-dashboard"
@rendermode InteractiveServer

@inject NavigationManager Navigation
@inject UsersHttpClient UsersHttpClient

@using System;
@using System.Collections.Generic;
@using System.Net.Mail;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

<div class="d-flex flex-column align-content-between user-dashboard">
    <div class="mb-4 table-set">
        @* Users Table *@
        <table class="table w-100">
            <thead>
                <tr>
                    @* Headers *@
                    <th scope="col" class="border border-light border-2">
                        Employee Name
                    </th>
                    <th scope="col" class="border border-light border-2">
                        Employee ID
                    </th>
                    <th scope="col" class="border border-light border-2">
                        Role
                    </th>
                </tr>
            </thead>
            <tbody>
                @* A row for each user in the list of users *@
                @foreach (var user in users.Skip(1).ToList())
                {
                    <tr>
                        @* Name *@
                        <td class="border border-light border-2">
                            @user.FIRST_NAME @user.LAST_NAME
                        </td>

                        @* User Id *@
                        <td class="border border-light border-2">
                            @DisplayTUID(user.TUID)
                        </td>

                        @* Role and Dropdown menu for editing or deleting the user *@
                        <td class="border border-light border-2">
                            <div class="d-flex flex-row">
                                @* Role of User*@
                                <span class="flex-grow-1 align-self-center">@user.ROLE</span>

                                <AuthorizeView Policy="Manager">
                                    @* Role Options Dropdown menu with id dynamically reflecting the id of the user Provides Edit and Delete options which open Edit User and Delete User Modals *@

                                    @* Danielle Smith - 4/23/25 DO NOT LET MANAGERS EDIT OWNERS *@
                                    @if (user.ROLE != "Owner")
                                    {
                                        <Dropdown id="@($"Dropdown-{user.TUID}")" LabelText="Role">
                                            <DropdownLink Icon="fa-solid fa-pen-to-square" data-bs-toggle="modal"
                                                data-bs-target="@($"#update-user-modal-{user.TUID}")">Edit</DropdownLink>
                                            <DropdownLink Icon="fa-regular fa-trash-can" data-bs-toggle="modal"
                                                data-bs-target="@($"#delete-user-modal-{user.TUID}")">
                                                Delete
                                            </DropdownLink>
                                        </Dropdown>
                                    }
                                </AuthorizeView>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @foreach (var user in users.Skip(1).ToList())
    {
        <AuthorizeView Policy="Manager">
            <UpdateUserModal id="@($"update-user-modal-{user.TUID}")" User="user" UpdateUsers="UpdateUsers" />
            <DeleteUserModal id="@($"delete-user-modal-{user.TUID}")" userTuid="user.TUID" UpdateUsers="UpdateUsers" />
        </AuthorizeView>
    }

    <LoadMessageModal id="load-message" @ref="LoadMessageModal" />

    <AuthorizeView Policy="Manager">
        <AddUserModal id="@($"add-user-modal")" UpdateUsers="UpdateUsers" AddingUser="ToggleLoader"
            ShowLoadingModal="ShowLoadingModal" HideLoadingModal="HideLoadingModal" />

        <div class="add-btn-container">
            <Button Class="Button add-btn" Icon="fa-solid fa-plus" Id="buttonAddUserDashboard" Variant="primary"
                data-bs-toggle="modal" data-bs-target="@($"#add-user-modal")" TextAlignment="center">
                Add User
            </Button>
        </div>
    </AuthorizeView>
</div>

@code {
    private LoadMessageModal? LoadMessageModal;

    private List<Data.Models.Users.UserDTO> users = new List<Data.Models.Users.UserDTO>();

    private async Task UpdateUsers()
    {
        var response = await UsersHttpClient.GetAllUsers();

        if (response != null)
        {
            users = response;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateUsers();
    }

    public string DisplayTUID(int Id)
    {
        return '#' + Id.ToString().PadLeft(10, '0');
    }

    public async Task ShowLoadingModal()
    {
        await LoadMessageModal!.ShowModal();
    }

    public async Task HideLoadingModal()
    {
        await LoadMessageModal!.HideModal();
    }

}
