@* Originally written by Tristan Calay  *@

@* Danielle Smith - 3/17/2025
I changed how it handles the alignment when there is not an icon  *@

@* Andrew Miller - 3/19/2025
Created OnSelectFunction parameter to determine a method that fires 
when an option is selected. Adapted OnSelectFunc method to check
if a method is specified and handle asynchronous methods
with InvokeAsync. Passes value in option as argument string 
to specified method.
*@
<div class="OptionInput @Class" id="@ID">
    <h5 class="row">
        @if(iconString != null)
        {
            <i class="col-auto fa-fw @iconString"></i>
        }
        <p class="col-md-11">
            @label
        </p>
    </h5>
    <div class="row">
        @if(iconString != null)
        {
            @((MarkupString)_blankIcon)
        } @* "(e) => OnSelectFunction.InvokeAsync(e.Value?.ToString())" *@
        <select class="col-md-11" @onchange="OnSelectFunc">
            @for (var i = 0; i < optionsValues.Count; i++)
            {
                <option value=@optionsValues[i]>@optionsText[i]</option>
            }
        </select>
    </div>
</div>

@code
{
    //Custom string to add to this item's HTML class
    [Parameter]
    public String? Class {get; set;}

    //Custom string to add to this item's HTML id tag
    [Parameter]
    public String? ID {get; set;}

    //String reference to a FontAwesome icon to display next to the label.
    [Parameter]
    public String? iconString {get; set;}

    //Insert this string as markup to space elements correctly, when no icon is specified.
    private String _blankIcon = """<i class="col-auto fa-solid fa-square fa-fw" style="opacity: 0%;"></i>""";

    //Text to display above the text box area
    [Parameter, EditorRequired]
    public required String label {get; set;}

    //Array of option values in the selector.
    [Parameter, EditorRequired]
    public required List<String> optionsValues {get; set;}

    //Array of options to display as text in the selector.
    [Parameter, EditorRequired]
    public required List<String> optionsText {get; set;}

    [Parameter]
    // Specifies method ran when selecting an option
    public EventCallback<string> OnSelectFunction {get; set;}

    //Validate that the option list has valid arguments: more than 0 entries, and matching number of display and value entries.
    protected override async Task OnParametersSetAsync(){
        await base.OnParametersSetAsync();

        if(optionsValues == null)
        {
            throw new ArgumentNullException("Options values list was not initialized: Did you add entries?");
        }
        if(optionsText == null)
        {
            throw new ArgumentNullException("Options text list was not initialized: Did you add entries?");
        }
        if(optionsValues.Count == 0 || optionsText.Count == 0)
        {
            throw new ArgumentException(String.Format("Cannot have zero entries in values (length {0}) or text (length {1}) lists.",optionsValues.Count, optionsText.Count));
        }
        if(optionsValues.Count != optionsText.Count)
        {
            throw new ArgumentException(String.Format("Option values count, {0}, does not match options text count, {1}.",optionsValues.Count, optionsText.Count));
        }
        
    }

    //When option is selected this
    //task is called which then calls
    //the method invoked in the parent component
    //passing the value of the change event argument
    //as a string to the method
    
    private async Task OnSelectFunc(ChangeEventArgs e)
    {
        if (OnSelectFunction.HasDelegate) // Checks if method given by OnSelectFunction exists
        {
            // Enables handling asynchronous methods
            await OnSelectFunction.InvokeAsync(e.Value?.ToString());
        }
    }
    
}
